#room .app-right {
    background: linear-gradient(to right,rgba(0, 0, 0, 0.70) 0,rgba(0, 0, 0, 0.90) 100%);
}
#user-rollover {
    background: rgba(0,0,0,.4);
}
#user-rollover .info {
    background: rgba(0,0,0,.1);
}
