#room .app-right {
    background: rgba(0, 0, 0, 0.30);
}
#user-rollover {
    background: rgba(0,0,0,.4);
}
#user-rollover .info {
    background: rgba(0,0,0,.1);
}
#footer {
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0.25) 0,rgba(0, 0, 0, 0.75) 100%);
}
.app-header {
    background: rgba(28, 31, 37, 0.59);
}
